name: Shellcheck
on:
  push:
    paths:
      - "**/*.sh"

permissions:
  contents: read

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Shellcheck
      run: |
        .github/workflows/scripts/run-shellcheck.sh



